<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    
</head>

<body>
    
    <div class="container-fluid">
        <div class="row">

            <form action="../submit" id="formentry" class="form-horizontal" role="form" data-parsley-validate novalidate>
                <div class="container-fluid shadow">
                    <div class="row">
                                              
                                    
                                <div class="row"><div class="col-md-12"><div class="row"><div class="col-md-12"><div class="form-group group-inline btn-group">
                            
                            
                
                <button id="button6" type="button" class="btn btn-primary">Automatik-Betrieb</button></div><div class="form-group group-inline btn-group">
                            
                            
                
                <button id="button2" type="button" class="btn btn-primary">Manueller Betrieb</button></div><div class="form-group group-inline btn-group">
                            
                            
                
                <button id="button4" type="button" class="btn btn-info">Einstellungen</button></div></div></div></div></div><div class="row"><div class="col-md-4"><div class="form-group" style="display: block;">
                            
                            
                
                <button id="button22" type="button" class="btn btn-default">Ventil 1</button></div></div><div class="col-md-4"><div class="form-group" style="display: block;">
                            
                            
                
                <button id="button24" type="button" class="btn btn-default">Ventil 2</button></div></div><div class="col-md-4"><div class="form-group" style="display: block;">
                            
                            
                
                <button id="button26" type="button" class="btn btn-default">Ventil 3</button></div></div></div><div class="row"><div class="col-md-4"><div class="form-group">
                            
                            
                
                <button id="button28" type="button" class="btn btn-default">Ventil 4</button></div></div><div class="col-md-4"><div class="form-group">
                            
                            
                
                <button id="button30" type="button" class="btn btn-default">Ventil 5</button></div></div><div class="col-md-4"><div class="form-group">
                            
                            
                
                <button id="button32" type="button" class="btn btn-default">Ventil 6</button></div></div></div><div class="row"><div class="col-md-12"><div class="form-group">
                            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                            
                
                </div></div></div>


                    </div>
                </div>
            </form>
        </div>
    </div>
    




</body>
</html>